<div class="title">
  <h1>Template Driven Form</h1>
</div>

<div class="form">
  <form (ngSubmit)="onSubmit()">
    <input class="input-box" type="text" name="firstname" [(ngModel)]="firstname" placeholder="Firstname" required><br>
    <input class="input-box" type="text" name="lastname" [(ngModel)]="lastname" placeholder="Lastname" required><br>
    <input class="input-box" type="text" name="email" [(ngModel)]="email" placeholder="Email Address" required><br>
    <input class="input-box" type="text" name="contact" [(ngModel)]="contact" placeholder="Contact" required><br>
    <input class="btn" type="submit" value="Submit" [disabled]="!firstname">
  </form>
</div>

<div class="output">
<h1>Inputted Data:</h1>
<p *ngIf="submitted">Firstname: {{firstname}}</p>
<p *ngIf="submitted">Lastname: {{lastname}}</p>
<p *ngIf="submitted">Email: {{email}}</p>
<p *ngIf="submitted">Contact: {{contact}}</p>
</div>
